<div class="hero-banner">
	<div class="hero-content">
		<div class="header-head">
			<h3>Reid Crawford</h3>
			<img src="/assets/images/reid-circle-image-two-vthree.png">
		</div>
		<!-- <i class="fa fa-2x fa-laptop" aria-hidden="true"></i> -->
		<p>I'm Reid, I live in Hollywood and I love writing code and building cool things. I've worked on various projects, from personal projects, to building apps for startups. I always strive to find the simplest and most effective solutions. I am a self motivated and passionate developer with a drive to create and I want to change lives and help people. In my spare time I enjoy music, the beach, playing guitar, eating out, and being funny. </p>
		<p class="about-footer">"Sometimes life hits you in the head with a brick. Don't lose faith."<br><span>- Steve Jobs</span></p>
		<p><a href="#contact"><u>Contact</u></a></p>
	</div> 
</div>