<div class="hero-banner">
	<div class="hero-content">
		<h2>Reid Crawford</h2>
		<i class="fa fa-2x fa-laptop" aria-hidden="true"></i>
		<p>I'm Reid, I live in Hollywood and I love writing code and building cool things. I've worked in various facets of technology, from personal projects, to building apps for startups. I always strive to find the simplest and most effective solutions.</p>
		<p class="about-footer">In my spare time I enjoy music, the beach, playing guitar, eating out, and being funny.</p>
		<p><a href="#contact"><u>Contact</u></a></p>
	</div> 
</div>