<div class="contact-outerwrap">
	<h1 id="contact-header" class="text-center">Contact</h1>
	<img src="/assets/images/grey-rectangle.png" class="grey-rectangle">
	<div id="contact">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.3677190961453!2d-118.38046128444209!3d34.08571918059687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2beba7e3b941d%3A0xa6d38bb845330040!2s824+Westmount+Dr%2C+West+Hollywood%2C+CA+90069!5e0!3m2!1sen!2sus!4v1516148650139" width="475" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		<ul class="contact-wrapper">
			<li>
				<b>Email:</b>
				<br>
				<a href="mailto:reidcrawford55@gmail.com">reidcrawford55@gmail.com</a>
			</li>
			<li>
				<b>Phone:</b>
				<br>
				<a href="tel:13107404475">310-740-4475</a>
			</li>
			<li>
				<b>Github:</b>
				<br>
				<a href="https://github.com/tune310" target="_blank">@Tune310</a>
			</li>
		</ul>
	</div>
</div>	