<div class="section-wrapper">
	<h1 id="projects-header">Projects</h1>
	<img src="/assets/images/grey-rectangle.png" class="grey-rectangle">

	<div id="projects-wrapper">
		<ul>
			<li ng-repeat="project in projects" id="{{ project.id + '-container'}}"><a href="{{ project.href }}" target="_blank"><img src="{{project.src}}"></a></li>
		</ul>
		<ul>
			<li ng-repeat="project in projectstwo" id="{{ project.id + '-container'}}"><a href="{{ project.href }}" target="_blank"><img src="{{project.src}}"></a></li>
		</ul>
		<!-- <div ng-repeat="project in projects">
			<div class="{{project.name}}" id="{{ project.id + '-container'}}">
				<img src="{{project.src}}">
				<ul>
				  <li><h1 class="text-center"><a href="{{ project.href }}">{{ project.name }}</a></h1></li>
				</ul>
			</div>
		</div> -->
	</div>
</div>
