.text-center {
  text-align: center; }

.wrapper ul li {
  list-style-type: none; }

.hero-banner {
  width: 100%;
  height: 400px;
  background: url("/assets/images/grid.jpg") no-repeat;
  background-position: center center;
  background-size: cover; }

#responsive-header {
  display: none;
  position: relative; }
  @media screen and (max-width: 767px) {
    #responsive-header {
      display: block; } }
  #responsive-header .navbar-toggler {
    position: relative;
    top: 14px;
    opacity: 0;
    position: absolute;
    padding: 10px;
    display: block;
    margin: 0 auto; }
  #responsive-header .navbar-nav {
    text-align: center; }
  #responsive-header nav {
    text-align: center;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  #responsive-header .fa-bars {
    color: white;
    margin-top: 15px;
    font-size: 20px; }

@media screen and (max-width: 767px) {
  #nav-header {
    display: none; } }

@media screen and (max-width: 399px) {
  .hamburger-blue {
    color: blue !important; } }

@media screen and (min-width: 400px) {
  .hamburger-hover {
    color: #928080 !important; } }

.wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }

.container {
  width: 100% !important;
  padding-left: 50px !important;
  padding-right: 50px !important; }

nav {
  margin-bottom: 0px !important; }
