.text-center {
  text-align: center; }

.wrapper ul li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.hero-banner {
  width: 100%;
  height: 600px;
  background: url("/assets/images/grid.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.hero-content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 2% 4%;
  width: 50%;
  height: 70%;
  margin: 0 auto;
  background-color: rgba(141, 144, 148, 0.5);
  color: white;
  font-family: 'Open Sans', sans-serif; }
  .hero-content a {
    color: white; }
  .hero-content h3 {
    font-size: 16px;
    font-weight: 600; }
  @media screen and (min-width: 415px) {
    .hero-content p {
      margin: 10px 0px; } }
  @media screen and (max-width: 465px) {
    .hero-content {
      width: 57%; } }

#projects-wrapper {
  padding-left: 75px;
  padding-right: 75px;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  @media screen and (max-width: 800px) {
    #projects-wrapper {
      padding-left: 0px;
      padding-right: 0px; } }
  #projects-wrapper ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    @media screen and (max-width: 600px) {
      #projects-wrapper ul {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; }
        #projects-wrapper ul li {
          margin: 15px 0px; } }
  #projects-wrapper li#startorsit-container img {
    transform: scale(2); }
  @media screen and (max-width: 480px) {
    #projects-wrapper {
      height: 100%; }
      #projects-wrapper img {
        margin: 10px 0px; } }

h1#projects-header {
  margin-top: 10px !important; }

.contact-outerwrap {
  padding-top: 35px;
  padding-bottom: 35px; }
  @media screen and (max-width: 480px) {
    .contact-outerwrap {
      height: 640px; } }

h1#contact-header {
  margin-top: 10px !important; }

div#contact {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  height: 475px; }
  @media screen and (max-width: 480px) {
    div#contact {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      width: 100%;
      height: 500px;
      margin-top: 30px; }
      div#contact iframe {
        width: 100%;
        margin: 20px 0px;
        height: 790px; } }
  div#contact ul.contact-wrapper {
    height: 300px; }
    @media screen and (max-width: 480px) {
      div#contact ul.contact-wrapper {
        padding-left: 0px !important; } }

#responsive-header {
  display: none;
  position: relative; }
  @media screen and (max-width: 767px) {
    #responsive-header {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(60, 59, 66, 0.5); } }
  #responsive-header .navbar-toggler {
    position: relative;
    top: 14px;
    opacity: 0;
    position: absolute;
    padding: 10px;
    display: block;
    margin: 0 auto; }
  #responsive-header .navbar-nav {
    text-align: center; }
  #responsive-header nav {
    text-align: center;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  #responsive-header .fa-bars {
    color: white;
    margin-top: 15px;
    font-size: 20px; }
  #responsive-header li a {
    color: white;
    font-weight: 900; }

#nav-header {
  background-color: rgba(60, 59, 66, 0.5);
  background-image: none;
  border: none; }
  #nav-header span {
    color: white; }
  #nav-header li a {
    color: white; }
  #nav-header .container-fluid {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    padding-left: 50px;
    padding-right: 50px; }
  #nav-header ul.navbar-nav {
    margin-left: auto; }
  @media screen and (max-width: 767px) {
    #nav-header {
      display: none; } }

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px !important; }

.grey-rectangle {
  height: 2px;
  width: 72px;
  margin: 0 auto !important;
  text-align: center;
  display: block; }

@media screen and (max-width: 399px) {
  .hamburger-blue {
    color: blue !important; } }

@media screen and (min-width: 400px) {
  .hamburger-hover {
    color: #928080 !important; } }

.wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }

.navbar-logo {
  color: white !important;
  font-weight: 900;
  font-size: 18px; }

.container {
  width: 100% !important;
  padding-left: 50px !important;
  padding-right: 50px !important; }

nav {
  margin-bottom: 0px !important; }

li {
  list-style-type: none; }

.section-wrapper {
  background-color: #f5f5f5;
  padding-top: 35px;
  padding-bottom: 35px; }
  @media screen and (max-width: 480px) {
    .section-wrapper {
      height: 550px; } }

#projects div ul {
  padding-left: 0px; }

#projects h1 {
  text-align: center; }

footer {
  background-color: #f5f5f5;
  padding-left: 75px;
  padding-right: 75px; }

.footer-wrapper {
  width: 100%;
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px; }
