@import "bourbon";
@import "sass/_utility";
@import "sass/_about";
@import "sass/_projects";

#responsive-header {
	display: none;
	position: relative;
	@media screen and (max-width: 767px) {
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(60, 59, 66, 0.5);
	}
	.navbar-toggler {
		position: relative;
		top: 14px;
		opacity: 0;
	    position: absolute;
	    padding: 10px;
	    display: block;
	    margin: 0 auto;
	}
	.navbar-nav {
		text-align: center;
	}
	nav{
		text-align: center;
		position: relative;
		height: 100%;
		@include display(flex);
		@include justify-content(center);
	} 
	.fa-bars {
		color: white;
		margin-top: 15px;
   		font-size: 20px;
	}
	li a {
		color: white;
		font-weight: 900;
	}
}

#nav-header {
	background-color: rgba(60,59,66,0.5);
	background-image: none;
	border: none;
	span{
		color: white;
	}
	li a {
		color: white;
	}
	.container-fluid {
		@include display(flex);
		@include align-items(center);
		padding-left: 50px;
		padding-right: 50px;
	}
	ul.navbar-nav {
		margin-left: auto;
	}
	@media screen and (max-width: 767px) {
		display: none;
	} 
}

.hamburger-blue {
	@media screen and (max-width: 399px) {
		color: blue !important;
	} 
}

.hamburger-hover {
	@media screen and (min-width: 400px) {
		color: #928080 !important;
	} 
}

.wrapper {
  width: 100%;
  position: relative;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);

}

.navbar-logo {
	color: white !important;
	font-weight: 900;
	font-size: 18px;
}
.container {
	width: 100% !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
}

nav {
	margin-bottom: 0px !important;
}

li {
	list-style-type: none;
}

#projects div ul {
	 padding-left: 0px;
}

#projects h1 {
	text-align: center;
	margin: 25px 0px;
}