@import "bourbon";

#responsive-header {
	display: none;
	position: relative;
	@media screen and (max-width: 767px) {
	display: block;
	}
	.navbar-toggler {
		position: relative;
		top: 14px;
		opacity: 0;
	    position: absolute;
	    padding: 10px;
	    display: block;
	    margin: 0 auto;
	}
	.navbar-nav {
		text-align: center;
	}
	nav{
		text-align: center;
		position: relative;
		height: 100%;
		@include display(flex);
		@include justify-content(center);
	} 
	.fa-bars {
		color: white;
		margin-top: 15px;
   		font-size: 20px;
	}
}

#nav-header {
	@media screen and (max-width: 767px) {
		display: none;
	} 
}

.hamburger-blue {
	@media screen and (max-width: 399px) {
		color: blue !important;
	} 
}

.hamburger-hover {
	@media screen and (min-width: 400px) {
		color: #928080 !important;
	} 
}

.container {
	// width: 1200px !important
}