#projects-wrapper {
	@media screen and (min-width: 1850px) {
		width: 85%;
		margin: 0 auto;
	} 
	@media screen and (min-height: 1900px) {
		height: 550px;
	} 
	overflow: hidden !important;
	padding-left: 75px;
	padding-right: 75px;
	height: 300px;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@media screen and (max-width: 800px) {
		padding-left: 0px;
		padding-right: 0px;
	} 

	ul {
		@include display(flex);
		@include justify-content(space-around);
		@include align-items(center);
		@media screen and (max-width: 600px) {
			@include flex-direction(column);
			li {
				margin: 15px 0px;
			}
		} 
	}


	li#startorsit-container img {
		
	}

	@media screen and (max-width: 600px) {
		height: 100%;
		img	{
			margin: 10px 0px;
		}
	} 
}

h1#projects-header {
	margin-top: 10px !important;
}