#projects-wrapper {
	@media screen and (min-width: 1850px) {
		width: 85%;
		margin: 0 auto;
	} 
	@media screen and (min-height: 1900px) {
		height: 550px;
	} 
	overflow: hidden !important;
	padding-left: 75px;
	padding-right: 75px;
	min-height: 300px;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@media screen and (max-width: 1000px) {
		padding-left: 0px;
		padding-right: 0px;
	} 

	ul {
		@include display(flex);
		@include justify-content(space-around);
		@include align-items(center);
		@media screen and (max-width: 765px) {
			@include flex-direction(column);
			li {
				margin: 15px 0px;
			}
		} 
	}


	@media screen and (max-width: 765px) {
		@include flex-direction(row);
		@include justify-content(space-evenly);
		height: 100%;
		img	{
			margin: 10px 0px;
		}
		ul:first-child {
			margin-bottom: 0px;
		}
		ul:last-child {
 			padding-top: 0px
		}		
	}
	@media screen and (max-width: 480px) {
	 	@include flex-direction(column);
	 }  
}

h1#projects-header {
	margin-top: 10px !important;
}

#pacific-dimensions-container img {
	width: 160px;
	height: 100px;
}